*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main-container:has( .ticket-container){
    display: block;
}
.login-container .login{
    background-color: white;
    color: black;
    padding: 5%;
    border-radius: 9px;
    box-shadow: rgba(160, 160, 160, 0.447) 0px 7px 29px 0px;
}
.login-container .login > *{
    margin-bottom: 15px;
}
.login h4{
    text-align: center;
    background-color: black;
    color: white;
    padding-block: 7px;
    border-radius: 9px;
}
.landing-page *{
    margin-bottom: 15px;
    text-align: center;
   
}
.landing-page a{
    text-decoration: none;
    background-color: darkgreen;
    color: white;
    font-size: 24px;
    padding: 8px;
    border-radius: 9px;
    display: block;
    transition: all 0.2s ease-in;
    margin-top: 30px;
    white-space: nowrap;
}
.landing-page a:hover{
    background-color: rgb(1, 71, 1);
    transform: scale(1.05);
}
.form-group{
    margin-bottom: 10px;
}
.form-group ~ .btn{
    width: 100%;
    margin-top: 20px;
}

.registration-number{
    text-transform: uppercase;
}
.ticket-container .ticket{
    background-color: white;
    color: black;
    padding: 3vw;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: rgba(160, 160, 160, 0.447) 0px 7px 29px 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.popup-wrapper{
    position: fixed;
    top: 100;
    background-color: rgba(0, 0, 0, 0.801);
    z-index: 10;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-popup{
    width: 300px;
    height: fit-content;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    padding: 15px 0;
}
.success-popup img{
    width: 80%;
    border-radius: 50%;
    object-fit: contain;
}
.ticket h3{
    background-color: black;
    color: white;
    padding: 10px 0 ;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 9px;
}
.ticket button{
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
}